{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<article>
    <h2>
        Allele-Specific Somatic Gene Mutations by Ethnic Groups
    </h2>
    <p>
        Rebecca D. Pollard<sup>1</sup>, Matthew D. Wilkerson<sup>2</sup>
    </p>
    <h3>
        Abstract
    </h3>
    <p>
        Standard medical genetics databases primarily include disease and standard sequences for caucasian individuals. Access to additional ethnic population-based genomic variant annotations may help accelerate the interpretation of genomic sequencing data. We created the alleleFinder repository to provide researchers access to somatic mutation's allele frequencies in African, Latino/Admixed American, Ashkenazi Jewish, East Asian, Finnish European, Estonian, North-Western European and Southern European individuals. We used publicly available data from the Catalogue of Somatic Mutations In Cancer (COSMIC v96) and Genome Aggregation Database (GnomAD) from the Linkage disequilibrium V2 to find the mutation's allele frequencies for each ethnicity. The alleleFinder repository is intended to help researchers identify common population variants for somatic gene mutations and assist researchers in annotating genomic sequencing data for populations.
    </p>

</article>

{% endblock %}